body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: azure;
}
h1{
    color: deepskyblue;
}
a{
    color: beige;
    text-decoration: none;
}
a:hover{
color: blue;
}
ul>li{
font-weight: bold;
}
h1+p{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
ul li:hover{
    color: cornflowerblue;
}
ul li:nth-child(3){
    background-color: black;
}
p:not(:first-of-type) {

    text-decoration: underline;

}

/* ::before Pseudo-element */

ul li::before {

    content: "";

}

/* ::after Pseudo-element */

a::after {

    content: "";

}

/* ::first-letter Pseudo-element */

p::first-letter {

    font-size: 200%;

    color: #FF7B72;

}
